<%= form_for @file, url: edit_line_item_file_path, method: :put, html: { multipart: true } do |form| %>
  <%= form.file_field :image %>
  <%= form.submit "UPLOAD FILE" %>
<% end %>
<h1>Actual</h1>
<%= image_tag @file.image.url(:medium) %>

<!-- image-preview-filename input [CUT FROM HERE]-->
<div class="input-group image-preview">
  <input type="text" class="form-control image-preview-filename" disabled="disabled"> <!-- don't give a name === doesn't send on POST/GET -->
  <span class="input-group-btn">
    <!-- image-preview-input -->
                    <div class="btn btn-default image-preview-input">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <span class="image-preview-input-title">Browse</span>
                        <input type="file" accept="image/png, image/jpeg, image/gif" name="input-file-preview"/> <!-- rename it -->
                    </div>
                </span>
</div><!-- /input-group image-preview [TO HERE]-->